# ==================================
# Configuração Application
# ==================================
spring:
  cloud:
    config:
      enabled: false
#  jpa:
#    generate-ddl: true
#    properties:
#      jakarta.persistence.schema-generation.scripts.action: create
#      jakarta.persistence.schema-generation.scripts.create-target: ddl_create14.sql
#      jakarta.persistence.schema-generation.create-source: metadata
#      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5439/buy-zone-db
    username: postgres
    password: 1234567

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: ${SERVER_PORT:8087}

output:
  ansi:
    enabled: ALWAYS
# ==================================
# RabbitMQ
# ==================================
rabbitmq:
  host: localhost
  port: 5672
  username: administrador
  password: r5h184cz9

# ==================================
# Configurações das filas como producer
# ==================================
app:
  rabbitmq:
    exchange: chamados.exchange
    routing-key: chamados.email
    queue: chamados.email.queue

# ==================================
# Configuração actuator e observabilidade
# ==================================
management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: refresh, health, info, metrics, prometheus
  endpoint:
    refresh:
      enabled: true
    health:
      enabled: true
      show-details: always
    info:
      enabled: true
    metrics:
      enabled: true
    prometheus:
      enabled: true

# ==================================
# configuração de logging
# ==================================
logging:
  level:
    root: INFO
    com.br.sysout.user_service: DEBUG
  file:
    name: logs/buy-zone-api.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
