output:
  ansi:
    enabled: ALWAYS
# ==================================
# Configuração Application
# ==================================
spring:
  cloud:
    config:
      enabled: false
  # jpa:
  #   generate-ddl: true
  #   properties:
  #     jakarta.persistence.schema-generation.scripts.action: create
  #     jakarta.persistence.schema-generation.scripts.create-target: ddl_create14.sql
  #     jakarta.persistence.schema-generation.create-source: metadata
  #     hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5439/buy-zone-db
    username: postgres
    password: 1234567

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${SERVER_PORT:8087}

# ==================================
# Configuração actuator e observabilidade
# ==================================
management:
  endpoints:
    web:
      exposure:
        include: refresh, health, info, metrics, prometheus
    access:
      default:
  endpoint:
    refresh:
      enabled: true
    health:
      enabled: true
      show-details: always
    info:
      enabled: true
    metrics:
      enabled: true
    prometheus:
      enabled: true

# ==================================
# Configuração de logging
# ==================================
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"
  level:
    root: INFO

springdoc:
  swagger-ui:
    operationsSorter: method
    path: /swagger-ui.html
  api-docs:
    path: /buy-zone/api-docs

pagseguro:
  authorization-token: ${PAGSEGURO_AUTH_TOKEN}

# ==================================
# Configuração Security application
# ==================================
security:
  client-id: ${CLIENT_ID:myappclient}
  client-secret: ${CLIENT_SECRET:myappclient123}
  jwt:
    duration: ${JWT_DURATION:86400}
